.backButton{
    display:block;
    float:right;        
    margin: 0 auto 5px 0;
    padding: 12px;

}


.input{
    display:block;
    float:right;
    margin: 5px;      
    padding: 3px;
}
.title{        
    display: block;
    text-align: center;
    
}

.area{
    margin:0 auto;
    width: 60%;
}
