.backButton{
    display:block;
    float:right;        
    margin: 0 auto 5px 0;

}

.input{
    display:block;
    float:right;
    margin: 5px;
    padding: 0;
    height: auto;
    width: auto;

}
.title{        
    display: block;
    text-align: center;
}

.area{
    margin:0 auto;
    width: 60%;
}
