.title{
    margin:0 auto;
    color:turquoise;
    text-align: center;
}

.area{    
    width: 60%;
    margin: 0 auto
}

.input{
    display: block;    
    float:right;
    
    margin:1px 1px 5px 1px;
}